 
*{
    margin: 0;
    padding:0;
}
  
body{
   background-color: #44355B;
   background-image: url('https://sitejerk.com/images/neon-triangle-png-4.png');
   background-repeat: no-repeat;
   background-position-x: -280px;
   background-position-y: -200px;
}

.Main-text{
  background-color: #31263E;
  width:600px;
  padding:30px;
  padding-bottom: 20px;
    position: relative;
    left: 400px;
    text-align: center;
    font-family: 'Didact Gothic';font-size: 35px; color: #ECA72C;
    padding-top:40px;
}

.button{
    width:870px;
    margin:auto;
    padding: auto;
    position: relative;
    right:-50px;;
    bottom:-110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.but1{
  border-radius: 100%;
  background:#221E22;
  display:block;
  height:140px;
  width:160px;
  padding:1em;
  box-shadow:5px 5px 7px rgba(33,33,33,1);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition:1s;
  transition:1s;
  transition:1s;
}

.but2{
  border-radius: 100%;
  background:#221E22;
  display:block;
  height:140px;
  width:160px;
  padding:1em;
  box-shadow:5px 5px 7px rgba(33,33,33,1);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition:2s;
  transition:2s;
  transition:2s;
}

.but3{
  border-radius: 100%;
  background:#221E22;
  display:block;
  height:140px;
  width:160px;
  padding:1em;
  box-shadow:5px 5px 7px rgba(33,33,33,1);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition:3s;
  transition:3s;
  transition:3s;
}


  .text{
    text-align: center;
    text-shadow: #44355B;
    font-family: 'Amaranth';font-size: 22px; color: #EE5622;
    text-decoration:none;
    position: relative;
    bottom:5px;
    right:5px;
  }

  .Intro{
    padding:40px;
    text-align: center;
    font-family: "Ardella"; font-size:22px; color:#EE5622;
    width: 550px;
    height:120px;
    background-color: #221E22;
    position: relative;
    bottom: -200px;
    left:400px;
  }

  .History{
    font-size: 30px;
    color: #ECA72C;
    position: relative;
    bottom: -530px;
    left: 640px;
  }

  .par1{
    text-align: center;
    font-family: "Ardella"; font-size:22px; color:white;
    width:800px;
    background-color: #221E22;
    position: relative;
    bottom: -550px;
    left: 300px;
    padding:30px;
  }

  .Fun-Facts{
    font-size: 30px;
    color: #ECA72C;
    position: relative;
    bottom: -700px;
    left: 640px;
  }

  .list{
    list-style-type: none;
    text-align: center;
    font-family: "Ardella"; font-size:22px; color:white;
    width:800px;
    background-color: #221E22;
    position: relative;
    bottom: -750px;
    left: 300px;
    padding:30px;
  }

  .but4{
    position: relative;
    bottom:-300px;
    border-radius: 100%;
  background:#221E22;
  display:block;
  height:160px;
  width:160px;
  padding:1em;
  box-shadow:5px 5px 7px rgba(33,33,33,1);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition:3s;
  transition:3s;
  transition:3s;
  }

  .but5{
    position: relative;
    left:1200px;
    top:145px;
    border-radius: 100%;
  background:#221E22;
  display:block;
  height:160px;
  width:160px;
  padding:1em;
  box-shadow:5px 5px 7px rgba(33,33,33,1);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition:3s;
  transition:3s;
  transition:3s;
  }

  .box{
    padding:40px;
    text-align: center;
    font-family: "Ardella"; font-size:40px; color:#EE5622;
    width: 550px;
    height:390px;
    background-color: #221E22;
    position: relative;
    bottom: -90px;
    left:400px;
  }

  .contact{
    list-style-type: none;
    text-align: center;
    font-family: "Ardella"; font-size:22px; color:white;
    width:800px;
    position: relative;
    bottom: 250px;
    left: 290px;
    padding:20px;
  }

  .form{
    position: relative;
    top:-190px;
    right:-480px;
  }
<<<<<<< HEAD
  
  .work-text{
       text-align: center;
    font-family: "Ardella"; font-size:22px; color:white;
    width:550px;
    position: relative;
    bottom: 250px;
    left: 420px;
    padding:30px;
  }
=======

label{
 color: white;
}
>>>>>>> 27e14e259d965bdb5f8744df71b7d570b32ab79d
